/* Estilos para todo el proyecto */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.contenedor-centrado {
    display: flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #007bff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="tel"], textarea, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px;
    margin: 4px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3;
}

a {
    padding: 8px;
    margin: 4px;
    background-color: #fdab13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}

a:hover {
    background-color: #cd7b00;
}


/* ------------- ESTILO DEL NAVBAR ----------  */

.navbar {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #ccd5ae;
    padding: 0px, 0px, 0px, 0px;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    /*saca el puntito de lista */
    overflow: hidden;
    /*recordar qué era esto??*/
    margin: 0px;
    padding: 0px;
    /*esto tiene que quedar así*/
    height: 100%;

}

.navbar-titulos a {
    font-size: large;
    color: #000000;
    text-align: left;
    margin: 40px 40px;
    padding: 0;
    text-decoration: none;

}

/*que al pasar el cursor por el navbar cambie de color: OK  */
.navbar-items :hover {
    background-color: #ecffae;
    font-weight: 700;
}



/*------------ Estilo Tabla Registros */ 

